<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action ="@{/procesar}" th:object="${contribuyente}" method ="post">
	
	<label>Nombre: </label><input type ="text" name = "s_nombre"><br>
	<label>Apellido: </label><input type ="text" name = "s_apellido"><br>
	<label>NIT: </label><input type ="text" name = "s_nit"><br>
	<label>Importancia: </label>
	<h4> th:filed recibe el parametro desde domain </h4>
	<select th:field ="*{importancia.c_importancia}">
	<option th:each=" e : ${importancialist}" th:value="${e.c_importancia}" th:text="${e.s_importancia}"></option>
	</select>
	<input type="submit" value ="Ingresar Contribuyente">	
	</form>
	<br>
	<br>
	<form th:action="@{/mostrar}" method="post">
	
		<input type= "submit" value="mostrar contribuyentes">
	</form>
</body>
</html>